/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat-Regular';

  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';

  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
}

.hidden {
  visibility: hidden;
}

.wrapper {
  min-width: 998px;
  max-width: 1600px;
}

.container {
  padding: 20px;
}

.header {
  background-color: #51296f;
}

.logo {
  min-width: 179px;
  min-height: 39px;
  opacity: 0.1;

  background-color: #ffffff;
}

.header-area {
  max-width: 930px;
  margin: 0 auto;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Montserrat-Regular;

  font-weight: 400;
  color: #ffffff;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav-item {
  padding: 5px 20px;
}
.main-nav-item:hover {
  color: #ffd282;
}

.main-nav-item:last-child {
  border-right: 1px solid #6b4984;
}

.member-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-nav-item {
  padding: 5px 20px;
  border-right: 1px solid #6b4984;
}

.member-nav-item:hover {
  color: #f9b233;
}

.basket-container {
  display: flex;
  padding: 20px;

  position: relative;
  cursor: pointer;
}

.full-basket::before {
  display: flex;
  content: '1';

  align-items: center;
  justify-content: center;
  font-size: 11px;

  position: absolute;

  top: 25%;
  left: 55%;

  width: 15px;
  height: 15px;

  background-color: red;
  border-radius: 50%;
}

.basket-icon {
  fill: white;
}

.full-basket-icon {
  fill: #f9b233;
}
/* ------------------------dropdown-------------------------------------- */
.dots {
  position: relative;
  font-size: 50px;

  padding-bottom: 30px;
}

.dropdown {
  position: absolute;
  top: 71%;
  left: -141%;

  border-radius: 5px;
  width: 290px;

  background-color: #fff9ee;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.34);
  padding: 20px;

  z-index: 1;
}

.dropdown::after {
  content: '';
  position: absolute;
  top: -8%;
  left: 46%;

  transform: rotate(180deg);
  border: 15px solid transparent;
  border-top-color: #fff9ee;
}

.dropdown-list {
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #51296f;
}

.dropdown-item:hover {
  color: #c35894;
}

.dropdown-form {
  position: relative;
}

.dropdown-input {
  padding: 10px 30px;

  border-radius: 5px;
  width: 250px;

  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 0px rgba(35, 0, 61, 0.35);
}

.dropdown-form-icon {
  position: absolute;

  top: 57%;
  left: 3%;
}

.social-links-img {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------------------------------------------- */
.search-form {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.input-search-form {
  width: 790px;
  padding: 15px 30px;
  border-radius: 5px;

  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 0px rgba(35, 0, 61, 0.35);
}

.search-form-icon {
  position: absolute;
  top: 33%;
  left: 1%;
}

.button {
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #f9b233;
  background-image: linear-gradient(
    0deg,
    rgba(249, 178, 51, 0.24) 0%,
    rgba(255, 255, 255, 0.24) 100%
  );
  box-shadow: inset -1px -1px 0px 0px rgba(175, 112, 0, 0.44);

  font-family: Montserrat-Bold;

  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.34);
  color: #51296f;

  cursor: pointer;
}
